img{
    width: 250px;
}
form{
    text-align: center;
    background-color: cornsilk;
    padding: 50px 20px;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 70px;
	padding-top: 28px;
	margin-bottom: 30px
}
.ingresar{
    background-color:aquamarine;
    padding: 5px;
    margin: 20px;
}
.crear{
    background-color:aquamarine;
}

body{
    background-color:darkgray;
}
p{
    padding-top:20px;
    margin-top: 20px;
}
input{
    text-align: center;
}